@{
    ViewBag.Title = "Home Page";
}

<h2><strong>Person Selected List</strong></h2>
<h3 style="color:orangered">Person Info: </h3>
<h4>Fullname: <strong data-bind="text: fullName"></strong></h4>
<h4>Age Range: <strong data-bind="text: agePeriod()"></strong></h4>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("First Name: ")
                </th>
                <th>
                    @Html.DisplayName("Last Name: ")
                </th>
                <th>
                    @Html.DisplayName("Age: ")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: selectedPerson">
            <tr style="cursor:pointer" data-bind="click: $root.objectSelectedRow">
                <td><input type="text" name="firstname" data-bind="value: firstName"/></td>
                <td><input type="text" name="lastname" data-bind="value: lastName"/></td>
                <td><input type="number" name="age" data-bind="value: age" /></td>
                <td>
                    <button class="btn btn-danger" data-bind="click: $parent.selectedUser">Remove</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="center">
                    <strong>Sum Ages:</strong> <strong class="text-danger font-weigh-bold" data-bind="text: sumAge"></strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<hr />
<div>
    <h2><strong>Removed Person List</strong></h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("First Name: ")
                </th>
                <th>
                    @Html.DisplayName("Last Name: ")
                </th>
                <th>
                    @Html.DisplayName("Age: ")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: removedPersonList">
            <tr>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <td data-bind="text: age"></td>
                <td>
                    <button class="btn btn-info" data-bind="click: $parent.selectedUndoUser">Undo</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="center">
                    <strong>Sum Ages:</strong> <strong class="text-danger font-weigh-bold" data-bind="text: sumAgeRemovedPersonList"></strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script src="~/Scripts/PersonViewModel.js"></script>